<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="wrapper">
        <header class="page-header">
            <div class="container">
                <h1>Template</h1>
            </div>
        </header>
        <nav class="page-nav">
            <div class="container">
                <ul>
                    <li>·<a href="#">Item 1</a></li>
                    <li>·<a href="#">Item 2</a></li>
                    <li>·<a href="#">Item 3</a></li>
                    <li>·<a href="#">Item 4</a></li>
                </ul>
            </div>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <div class="container">
                    <h2>Sección 1</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore explicabo consequatur consequuntur dolor asperiores quo quas ab voluptates, id recusandae distinctio totam voluptas ratione praesentium sint ea molestias dolorum, placeat nemo unde culpa, ipsum non? Dicta nulla eius expedita ipsa accusamus, assumenda veniam eos? Inventore ullam eveniet culpa nulla voluptates quia exercitationem voluptate cumque dolor, perspiciatis rem praesentium? Sapiente impedit, repudiandae soluta, amet quam unde temporibus enim alias cum a sequi eveniet reiciendis aut qui consequatur maxime numquam, commodi harum? Laboriosam in, voluptatem vitae fuga excepturi vel maiores autem, impedit sed, aliquam cumque dolorem repellendus sint aperiam architecto cum quasi.</p>
                    <p>Rerum tempora consectetur expedita, dolorum ullam, inventore possimus non facere minima nostrum debitis maxime quidem pariatur numquam. Libero praesentium omnis dicta aspernatur voluptate nisi tenetur doloribus dolorem nam eos provident dolorum quia repellendus porro excepturi tempora voluptatibus consequuntur maxime voluptas quae, aperiam ullam incidunt. Sapiente porro architecto quas. Ipsum assumenda magnam ratione impedit pariatur molestias consectetur vitae omnis. Sed suscipit aliquid debitis minima quasi aliquam! Voluptas aspernatur numquam tempore reiciendis corporis, repellendus, accusamus at voluptatibus reprehenderit cupiditate ratione veritatis saepe, exercitationem porro id ipsam eos aliquid totam voluptate obcaecati enim quas assumenda molestiae unde. Sequi reiciendis ipsa aut impedit voluptate.</p>
                    <p>Perspiciatis tempore animi consequuntur inventore blanditiis praesentium earum, ipsum esse velit rem quidem nesciunt iste suscipit! Vitae quia eum eligendi, optio quasi enim in, alias iusto reiciendis tempora modi eos! Dolores beatae, totam iusto voluptatibus qui laudantium incidunt quibusdam dolor earum blanditiis eligendi. Doloribus impedit, laudantium natus incidunt nesciunt iure tempora soluta id, dolorum repudiandae optio aspernatur omnis accusantium quibusdam doloremque exercitationem assumenda, quam officiis. Tempore natus explicabo, minima pariatur iste quidem labore quod, impedit distinctio rerum ipsum, praesentium architecto est. Dolorem recusandae iusto itaque? Facilis quam ipsa, quibusdam doloremque excepturi tenetur rem aliquam dolores natus necessitatibus consequuntur non voluptatibus.</p>
                </div>
            </section>
            <section class="page-section">
                <div class="container">
                    <h2>Sección 2</h2>
                    <p>Quis harum mollitia similique maxime molestias voluptas excepturi aperiam odit porro sapiente. Dolor illum accusantium culpa praesentium, at distinctio veritatis! Quam at sint eius modi officiis qui illum deleniti quia ut ipsa odit velit necessitatibus, accusantium autem sunt, quibusdam ipsam quo esse mollitia culpa alias. Odit alias obcaecati repudiandae error ipsa voluptatibus recusandae autem at ipsam eligendi beatae reprehenderit consequuntur, natus ratione quaerat saepe a ad perferendis dolore deleniti? Aperiam eos voluptate quod similique debitis. Perferendis delectus ut optio dolor deserunt et eos cumque unde nesciunt ullam quam quod sapiente explicabo vero omnis dolores, enim natus blanditiis asperiores at. Eveniet?</p>
                    <p>Aut sint perspiciatis pariatur, sunt unde vitae provident rem ullam dolorem quaerat incidunt ducimus eveniet praesentium libero neque earum possimus? Delectus explicabo id perspiciatis? Alias, inventore laudantium. Magnam soluta eveniet ducimus cupiditate sed recusandae velit, praesentium qui nisi quas nihil dolore libero ipsam vitae. Sapiente excepturi qui minus fugiat totam accusamus, distinctio provident rerum accusantium quos iure cum iusto nulla quia, sequi fugit cupiditate, natus magni aspernatur laudantium doloremque sint adipisci? Nostrum asperiores corporis dicta? In iste id laudantium totam suscipit. Autem amet dolorem vel qui commodi quae alias voluptatibus natus, veniam atque suscipit ipsum eos modi sit earum ad!</p>
                    <p>Iusto ea magnam eius provident exercitationem unde maxime, impedit necessitatibus distinctio asperiores laudantium tenetur beatae modi labore quibusdam commodi sequi molestias soluta obcaecati harum? Recusandae nemo, eligendi odio asperiores dolores error accusantium et esse voluptatem veniam natus mollitia quis doloremque quibusdam vitae voluptas laborum consequatur corrupti beatae iste laudantium ut quisquam labore. Cupiditate deserunt sequi adipisci inventore enim at, dolores illo. Totam aliquam sapiente ullam. Ipsam delectus iusto possimus quaerat praesentium sed aliquid ex doloremque quasi, quibusdam illum, eius reiciendis blanditiis mollitia vitae totam itaque deleniti. Quasi consectetur illo eligendi inventore vero hic, mollitia sit iste. Vel, necessitatibus quasi! Itaque.</p>
                </div>
                </section>
        </main>
        <footer class="page-footer">
            <div class="container">
                <p>Todos los derechos reservados | Nayely Meneses | eduMac 2018</p>
            </div>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.2.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>